nav {
   
  
    a {
      display: block;
      text-decoration: none;
      color:grey
    }
  }
Li {
    
    div {
    
        span {
            display: block;
            text-decoration: none;
            color:grey
        }
    }
}
