#root {
  max-width: 1480px;
  max-height: max-content;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: lightgrey;
}

a {
  text-decoration: none;
  color: inherit
}

h6 {
  margin: 0.5px 0.5rem 0px 0px;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.6;
  letter-spacing: 0.15px;
  color: rgba(58, 53, 65, 0.87);
  width: 105px;
}


